<div id="main-content" class="container">
   
  <div class="d-flex justify-content-center">
    <span [ngStyle]="{'backgroundColor': redCircle}" class="circle"></span>
    <br>
  </div>
  <div class="d-flex justify-content-center">
    <span [ngStyle]="{'backgroundColor': yellowCircle}" class="circle"></span>
    <br>
  </div>
  <div class="d-flex justify-content-center">
    <span [ngStyle]="{'backgroundColor': greenCircle}" class="circle"></span>
    <br>
  </div>

</div>